@media screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
  }
}
body {
  padding: 0;
  background-color: blue;
  color: black;
}
div {
  padding: 20px;
  border: 1px solid blueviolet;
}
nav li {
  display: block;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: brown;
}
nav a:hover {
  background-color: black;
  color: blue;
}
.content {
  background-color: burlywood;
  color: blanchedalmond;
}
