div {
    text-align: center;
}
 nav li {
display: block;

}
nav ul {
    display: flex;
    flex-direction: column;
}
nav a{
display: block;
padding: 10px;
text-decoration: none;
color: brown;
}
nav a:hover {
background-color: black;
color:blue;
}    