@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");

@media screen and (max-width: 767px) {
  .header {
    flex-direction: row;
  }
}

body {
  font-family: "Belanosima", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background-color: indigo;
}
.header {
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  display: flex;
  background-color: black;
}
.r4 {
  display: flex;
  height: 120px;
  width: 120px;
  text-align: center;
  align-content: center;
  align-items: center;
}
.navigas {
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  display: flex;
  background-color: black;
  text-align: left;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 25px;
  color: white;
  transition: 0.2s ease-out;
}
nav a:hover {
  border-radius: 5%;
  background-color: blue;
  color: aqua;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 40px;
  margin-right: 60px;

  gap: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  color: black;
}
